<form action="Create-short-url" method="post" id="siteInput">

    <label for="siteInput">Original url: </label></br>
    <input type="text" name="originalSite" id="siteInput"/></br>

    <label for="aliasInput">Custom alias: </label></br>
    <input type="text" name="alias" id="aliasInput"/></br>

    <button id="shortButton">Short it!</button>
</form>